/* PUBLIC STYLE */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  /* background: cyan; */
  color: #141517;
}

.container {
  width: 85%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn {
  border: none;
  background: #4a4a4b;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #ff2020;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.btn:hover:before {
  width: 100%;
}

/* start nav */
nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
  position: fixed;
  z-index: 99;
}

nav .list {
  list-style: none;
}

nav .list .list-item {
  display: inline-block;
  position: relative;
}

nav .list .list-item:nth-child(4)::after {
  content: "hot";
  color: white;
  background-color: #ff003c;
  position: absolute;
  font-size: 9px;
  text-align: center;
  line-height: 1px;
  font-weight: 400;
  border-radius: 8px;
  top: -23px;
  left: 68px;
  opacity: 1;
  padding: 8px;
  padding-top: 11px;
  text-transform: uppercase;
  box-shadow: -1px 1px 6px 0px #857f7f;
}

nav .list .list-item>a {
  text-decoration: none;
  color: #141517;
  font-size: 19px;
  margin-left: 18px;
}

nav .list .list-item a {
  transition: all 0.4s;
}

nav .list .list-item a:hover {
  color: #ff2020;
}

nav .list .list-item .dropdown {
  list-style: none;
  background-color: white;
  position: absolute;
  padding: 15px 0;
  width: 173px;
  left: 22px;
  top: 35px;
  border-top: 5px solid #ff2020;
  border-radius: 13px 13px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

nav .list .list-item:hover>.dropdown {
  visibility: visible;
  opacity: 1;
  top: 49px;
}

nav .list .list-item .dropdown::before {
  content: "";
  position: absolute;
  border-bottom: 10px #ff2020 solid;
  border-top: 10px transparent solid;
  border-right: 10px transparent solid;
  border-left: 10px transparent solid;
  top: -22px;
  left: 16px;
}

nav .list .list-item .dropdown .dropdown-item a {
  display: block;
  margin: 10px 23px;
  text-decoration: none;
  color: #141517;
  font-size: 16px;
  transition: all 0.4s;
}

nav .list .list-item .dropdown .dropdown-item a:hover {
  color: #ff2020;
}

nav .nav-icon a {
  margin-left: 25px;
  color: #141517;
  transition: 0.1s all;
}

nav .nav-icon a:hover {
  color: #ff2020;
}

nav input,
nav label {
  display: none;
}

/* media */
@media (max-width: 991px) {
  nav {
    padding: 25px 13px;
  }

  nav .list {
    display: block;
    position: absolute;
    background: antiquewhite;
    top: 55px;
    left: 5%;
    width: 90%;
    padding: 15px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  nav .nav-icon a {
    margin-left: 10px;
  }

  nav label {
    display: block;
    order: 3;
    cursor: pointer;
  }

  nav label i {
    color: #ff2020;
    font-size: 22px;
  }

  nav .list .list-item {
    display: block;
    margin: 10px 0;
  }

  nav .list .list-item:nth-child(4)::after {
    display: none;
  }

  nav input:checked~.list {
    visibility: visible;
    opacity: 1;
    top: 78px;
  }
}

/* HEADER */
header {
  background: #f0f0f2;
  overflow: hidden;
}

header .row {
  align-items: center;
}

header .row .header-content {
  margin: 80px 0 40px;
}

header .row .header-content h1 {
  font-size: 92px;
  line-height: 1.3;
  color: #0b1c39;
}

header .row .header-content p {
  font-size: 18px;
  margin: 30px 0;
  line-height: 1.6;
}

header img {
  animation-name: heartBeat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding-top: 75px;
  width: 25%;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.06);
  }
}

@media (max-width: 767px) {
  header img {
    display: none;
  }

  header .row .header-content {
    padding-top: 75px;
  }

  header .row .header-content h1 {
    font-size: 40px;
  }

  .row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* ARRIVALS */
.arrivals {
  background-color: #fff;
}

.arrivals .container {
  padding: 120px 0;
}

.arrivals .container .row {
  flex-wrap: wrap;
}

.arrivals .container h1 {
  padding: 60px 0;
  font-size: 50px;
}

.arrivals .container .item {
  text-align: center;
  padding-bottom: 30px;
}

.arrivals .container .item .img-con {
  overflow: hidden;
}

.arrivals .container .item .img-con img {
  transition: .3s all ease-in-out;
}

.arrivals .container .item .img-con:hover img {
  transform: scale(1.1);
}

.container .item a {
  text-decoration: none;
  display: block;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: #444;
}

.container .item span {
  color: #ff2020;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width:886px) {
  .arrivals .container {
    text-align: center;
  }

  .arrivals .container .item {
    width: 100%
  }
}

/* GRID IMGS */
.grid-img {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 20px;
  overflow: hidden;
  background: white;
  padding: 50px 0 80px;
}

.grid-img .grid-child {
  overflow: hidden;
}

.grid-img .grid-child>img {
  height: 100%;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.grid-img .grid-child:hover img {
  transform: scale(1);
  filter: grayscale(40%);
}

.grid-img .grid-child:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-img .grid-child:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.grid-img .grid-child:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.grid-img .grid-child:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
}

.grid-img .grid-child img {
  width: 100%;
}

@media (max-width:886px) {
  .grid-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .grid-child {
    margin: 20px 0;
    width: 80%;
  }
}

/* Popular Items */
.popular-items {
  background-color: #fff;
}

.popular-items .container {
  text-align: center;
  width: 100%;
  padding-bottom: 70px;
}

.popular-items h1 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  padding: 50px 0 30px;
}

.popular-items p {
  color: #777;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 0;
  margin: 20px auto;
  width: 50%;
}

.popular-items .container .row {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.popular-items .container .row .item {
  /* width:31%; */
  margin: 20px 0;
}

.popular-items .row .item .img-div {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.popular-items .row .item .img-div::before {
  content: "Add to cart";
  display: block;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  background-color: #ff2020;
  position: absolute;
  top: 99.2%;
  left: 0px;
  transition: all .3s ease-in-out;
}

.popular-items .row .item .img-div::after {
  content: "\f184";
  position: absolute;
  font-family: FontAwesome;
  color: #444;
  font-size: 32px;
  top: 18px;
  right: 18px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.popular-items .row .item:hover .img-div::before {
  top: 86%;
}

.popular-items .row .item:hover .img-div::after {
  visibility: visible;
  opacity: 1;
}

.popular-items .row .item .img-div img {
  width: 100%;
  margin: 0;
}

.popular-items .container .item span {
  color: #444;
}

@media (max-width:886px) {
  .popular-items .container {
    width: 85%;
  }

  .popular-items .container .row {
    flex-direction: column;
    align-items: center;
  }

  .popular-items .container .row .item {
    margin-bottom: 30px;
  }

  .popular-items h1 {
    font-size: 30px;
  }
}

/* vid */
.vid {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
}

.vid .vid-container {
  padding: 40px;
  position: relative;
}

.vid .vid-container iframe {
  width: 100%;
  height: 600px;
}

.vid .vid-container .nxt-vid {
  display: block;
  width: 35%;
  padding: 40px 15px;
  background-color: #ff2020;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 44px;
  left: 40px;
  font-size: 35px;
}

.vid .vid-container .nxt-vid a,
.vid .vid-container .nxt-vid i {
  text-decoration: none;
  color: #fff;
}

.vid .vid-container .nxt-vid i {
  margin-left: 60px;
}

@media (max-width:886px) {
  .vid .vid-container .nxt-vid {
    font-size: 20px;
    width: 60%;
    padding: 10px 5px;
  }

  .vid .vid-container .nxt-vid i {
    margin-left: 10px;
  }
}

/* Popular Watches */
.wchof {
  background-color: #fff;
  padding-top: 120px;
}

.wchof .row {
  align-items: center;
  padding-bottom: 150px;
}

.wchof .row .wch-info {
  width: 45%;
}

.wchof .row .wch-info h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 15px 0;
}

.wchof .row .wch-info p {
  color: #777;
  margin: 15px 0 30px;
  font-size: 17px;
  line-height: 1.4;
}

.wchof .row .wch-img img {
  width: 100%;
}

.wchof .row .wch-info button {
  text-transform: uppercase;
}

@media (max-width:886px) {
  .wchof {
    padding-top: 50px;
  }

  .wchof .row {
    padding-bottom: 50px;
  }

  .wchof .row .wch-info {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }

  .wchof .row .wch-info h1 {
    font-size: 35px;
  }
}

/* red sec */
.red-sec {
  background-color: #fff;
  padding: 20px 0 40px;
}

.red-sec .row {
  background-color: #ff2020;
  padding: 20px 15px;
}

.red-sec .row .item {
  width: 25%;
  padding: 15px;
}

.red-sec .row .item>* {
  color: #fff;
  margin: 13px 0;
}

.red-sec .row .item i {
  font-size: 40px;
  /* margin: 15px 0; */
}

.red-sec .row .item p {
  color: #d3d1d1;
}

@media (max-width:886px) {
  .red-sec .row .item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* footer */
footer {
  background-color: #fff;
  padding: 60px 0 0;
}

footer .container .row {
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;
}

footer .container .row .logo {
  width: 250px;
  /* margin-bottom: 30px; */
  margin: 0 20px 30px;
  /* text-align: center; */
}

footer .container .row .logo img {
  margin: 20px 0;
}

footer .container .row .logo p {
  line-height: 1.8;
  color: #868c98;
  margin: 7px 0;
}

footer .container .row .footer-list {
  margin: 0 20px 30px;
}

footer .container .row .footer-list h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 20px 0;
}

footer .container .row .footer-list ul {
  list-style: none;

}

footer .container .row .footer-list ul li a {
  display: block;
  text-decoration: none;
  color: #868c98;
  line-height: 1.5;
  font-weight: 300;
  margin: 7px 0;
  transition: all .4s ease-in-out;
}

footer .container .row .footer-list ul li a:hover {
  transform: translateX(7px);
  color: #ff2020;
}

/* made by */

footer .container .madeby .social a {
  display: inline-block;
  color: #000;
  font-size: 28px;
  padding: 0 10px 10px;
  transition: all .3s ease-in-out;
}

footer .container .madeby .social a:hover {
  transform: rotateY(180deg);
  color: #ff2020;
}

@media (max-width:886px) {
  footer .container .row .logo {
    text-align: center;
  }

  footer .container .madeby .row {
    align-items: center;
  }

  footer .container .madeby .row>div {
    margin-top: 30px;
  }
}